
body {
    background-color: hsl(212, 45%, 89%);
    font-size: 25px;
    font-family: "Outfit";
    color: hsl(220, 15%, 55%);
    text-align: center; 
}

.qr-code {
    width: 90%;
    border-radius: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.caption {
    display: block;
}

.image-text {
    background-color: rgb(255, 255, 255);
    display: block;
    justify-content: center;
    margin: 5% 35%;
    align-items: center;
    border-radius: 3%;
    padding-bottom: 30px;
}

h3 {
    font-weight: bold;
    color: hsl(218, 44%, 22%);
    margin: 5% 15% 5% 15%;
}

.text-info {
    margin: 5% 10% 5% 10%; 
}

p {
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }